@import '../../index.scss';

$header-margin: 50px auto;

//Introdaction
.introdaction {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  font-family: $logo-font;
  font-size: 20vw;
  color: $main-text-color;
  /* align-self: center; */
  text-align: center;
  margin: $header-margin;
}

.sub-header {
  font-family: $logo-font;
  font-size: 3vw;
  color: $main-text-color;
  margin: 0 auto;
}


.link-container {
  display: flex;
  justify-content: space-around;
}

//About
.about {
  color: $main-text-color;
  height: 100vh;
}


//Projects
.projects {
  color: $main-text-color;
  height: 100vh;
}


//Contact
.contact {
  color: $main-text-color;
  height: 100vh;
}

