.header {
  display: flex;

  height: 100vh;
  justify-content: center;
}

.header__background {
  background-image: url(/src/images/mainHeaderPhoto.jpg);
  background-position: 50%; /*centered img */
  background-size: cover;

}

.header__menu {
  position: absolute;
  left: 10px;
  justify-self: flex-start;
}

.header__text {
  color: aqua;
  align-self: center;
  justify-self: center;
  text-align: center;
}