@font-face {
  font-family: 'BlackHanSans', ;
  font-style: normal;
  font-weight: 400;
  src:
    local('BlackHanSans'),
    url(./fonts/Black_Han_Sans/BlackHanSans-Regular.ttf);
}
@font-face {
  font-family: 'Inter', ;
  src:
    local('Inter'),
    url(./fonts/Inter/static/Inter-Bold.ttf );
}
@font-face {
  font-family: 'NotoSansKR', ;
  src:
    local('NotoSansKR'),
    url(./fonts/Noto_Sans_KR/NotoSansKR-Black.otf);
}

$background-color: #040C0E;
$main-text-color: #BE9063;
$text-color: #A4978E;
$logo-font: 'BlackHanSans';
$text-font: 'Inter';
$kor-text-font: 'NotoSansKR';

body {
  background-color: $background-color;
  height: 100%;
  min-height: 100%;
  width: 100%;
  /* max-width: 100%; */
  overflow-x: hidden;
  /* font-family: Impact; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  margin: 0;
}

/* a {
  text-decoration: none;
  color: #000000;
} */